* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* contenitore generale  */
.main-container {
    width: 100vw;
    height: 100vh;
    background-color: #d7dbd7;
    overflow: hidden;
    position: relative;
}

/* sfondi colorati  */
.top-bg {
    height: 25%;
    width: 100%;
    background-color: #029588;
}

.bottom-bg {
    height: 75%;
    width: 100%;
    background-color: #dadbd4;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* contenitore app  */
.app-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    background-color: #fff;
    display: flex;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* contenitore laterale */
aside {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* header (riutilizzato anche per la chat) */
header {
    height: 80px;
    padding: 0 20px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
}

.user-img {
    max-height: 100%;
    margin-right: 10px;
    background-color: #f2f2f2;
    border-radius: 100%;
}

.header-icons {
    width: 100px;
    height: 50px;
    color: #b1b1b1;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* notifiche */
.notif-banner {
    height: 100px;
    padding-left: 20px;
    background-color: aqua;
    display: flex;
    align-items: center;
}

.notif-banner i {
    color: #8edafc;
    background-color: #f2fbfe;
    font-size: 1.4rem;
    margin: 0 10px;
    padding: 20px 17px;
    border-radius: 100%;
}

.notif-banner a {
    color: #507485;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ricerca */
.search-cont {
    height: 60px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}

.search-input {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    border: 1px solid #f5f5f5;
}

.search-cont .fa-search {
    position: absolute;
    left: 30px;
    color: #b5b9bb;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* contatti  */
.chat-selector {
    background-color: #fff;
}

.chat-user {
    height: 100px;
    padding: 10px 10px 0 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
}

.chat-user:hover {
    background-color: #e9ebeb;
}

.chat-user.chat-active {
    background-color: #e9ebeb;
}

.chat-prev span, .chat-time {
    color: #b5b9bb;
    font-size: .9rem;
}

.search-false {
    display: none;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* contenitore principale chat  */
main {
    width: 65%;
    background-color: teal;
}

.last-login {
    color: #6a7376;
    font-size: .9rem;
}

/* contenitore messaggi  */
.chat-body {
    height: calc(100% - 160px);
    padding: 50px;
    background-color: #000;
    background-image: url(../img/wp.jpg);
    position: relative;
    overflow-y: auto;
}

.message-container {
    display: flex;
    flex-direction: column;

}

.chat-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}

.chat-bubble {
    width: 40%;
    padding: 20px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

.chat-bubble.received {
    background-color: #fff;
}

.chat-bubble.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.message-time {
    color: #b5b9bb;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: .7rem;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* contenitore input messaggi  */
.chat-input-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #f3eeea;
    padding: 10px 0;
}

.chat-input-cont i {
    font-size: 1.5rem;
    color: #6a7376;
    padding: 0 30px;
}

.chat-input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
}