<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>

    <div class="main-container" id="app">
        <div class="top-bg"></div>
        <div class="bottom-bg"></div>

        <div class="app-cont">
            <aside>
                <header>
                    <div class="user">
                        <img :src="user.avatar" :alt="user.userName" class="user-img">
                        <h4>{{user.userName}}</h4>
                    </div>
                    <div class="header-icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </header>
                <div class="chat-cont">
                    <div class="notif-banner">
                        <i class="fas fa-bell-slash"></i>
                        <div>
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <a href="">Attiva notifiche desktop</a>
                        </div>

                    </div>
                    <div class="search-cont">
                        <i class="fas fa-search"></i>
                        <input type="text" class="search-input" placeholder="Cerca o inizia una nuova chat." autocomplete="off">
                    </div>
                    <div class="chat-selector">                        
                        <div v-for="user, i in contacts" :key="i" class="chat-user">
                            <div class="user">
                                <img :src="user.avatar" :alt="user.userName" class="user-img">
                                <div class="chat-prev">
                                    <h4>{{user.userName}}</h4>
                                    <span>{{user.messages[user.messages.length - 1].text}}</span>
                                </div>
                            </div>
                            <div class="chat-time">
                                {{user.messages[user.messages.length - 1].date}}
                            </div>
                        </div>
                    </div>
                </div>
            </aside>

            <main>
                <header>
                    <div class="user">
                        <img src="img/02.svg" alt="" class="user-img">
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <span class="last-login">Ultimo accesso il {{contacts[0].messages[contacts[0].messages.length - 1].date}}</span>
                        </div>
                    </div>
                    <div class="header-icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </header>

                <div class="chat-body">
                    <div class="chat-overlay"></div>
                    <div v-for="message, i in contacts[0].messages" :key="i"  class="chat-bubble" :class="message.status">{{message.text}}
                        <span class="message-time">{{message.date}}</span>
                    </div>

                </div>

                <div class="chat-input-cont">
                    <i class="far fa-smile"></i>
                    <input type="text" class="chat-input" placeholder="Scrivi un messaggio.">
                    <i class="fas fa-microphone"></i>
                </div>
            </main>

        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/script.js"></script>
</body>
</html>